<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13754311833-euv0urjn03k5m7041udg2s4sqc2hstoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13754311833-euv0urjn03k5m7041udg2s4sqc2hstoj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>13754311833-gb5958um4mf985k8sjkt0da3502hj0ie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaIu-CpcOiYVZFLsJ3APUKc0Jb4y8AgCo</string>
	<key>GCM_SENDER_ID</key>
	<string>13754311833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globalgates.prayforthecup</string>
	<key>PROJECT_ID</key>
	<string>pray-for-the-cup</string>
	<key>STORAGE_BUCKET</key>
	<string>pray-for-the-cup.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13754311833:ios:b696d3476cc31958290408</string>
</dict>
</plist>